@model team_shirt.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="mt-1">
        <div class="bg-white" style="border-radius: 30px;">

            <div class="conteiner">
                <div class="row">
                    <h1 class="text-center font-weight-bold pt-5 pl-5">Cadastre seu Produto:</h1>
                </div>


                <div class="text-center font-weight-bold justify-content-center m-2">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Preco" class="control-label"></label>
                            <input asp-for="Preco" class="form-control" />
                            <span asp-validation-for="Preco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantidade" class="control-label"></label>
                            <input asp-for="Quantidade" class="form-control" />
                            <span asp-validation-for="Quantidade" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CaminhoImagem" class="control-label"></label>
                            <input asp-for="CaminhoImagem" class="form-control" />
                            <span asp-validation-for="CaminhoImagem" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NomeImagem" class="control-label"></label>
                            <input asp-for="NomeImagem" class="form-control" />
                            <span asp-validation-for="NomeImagem" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoriaId" class="control-label"></label>
                            <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Editar Novo Produto" class="btn btn-primary btn-block m-1" />
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-secondary btn-block m-1">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
