@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <h4 class="nav-link font-weight-bold text-dark m-0 py-2">Promoções</h4>
            </li>
            <li class="nav-item">
                <h4 class="nav-link font-weight-bold text-dark m-0 py-2">Masculino</h4>
            </li>
            <li class="nav-item">
                <h4 class="nav-link font-weight-bold text-dark m-0 py-2">Feminino</h4>
            </li>
            <li class="nav-item">
                <h4 class="nav-link font-weight-bold text-dark m-0 py-2">Infantil</h4>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col">
        <img src="/img/home-picture.png" class="w-100"/>
    </div>
</div>

<div class="row">
    <div class="col bg-white text-center" style="height: 25vh">
        <h3 class="text-dark pt-2">Destaques</h3>
        <hr />
    </div>
</div>