@model List<Produto>

@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-dark m-0 py-2" asp-controller="Produto" asp-action="Index">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-dark m-0 py-2" asp-controller="Categoria" asp-action="Index"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card-group text-center">
        @foreach (var item in Model)
        {

            <div class="row">
                <div class="col-md-auto">

                    <div class="card m-3" style="width: 14rem;">
                        <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.CaminhoImagem) alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                            <strong class="h3 text-warning">R$ @Html.DisplayFor(modelItem => item.Preco)</strong>
                            <a asp-controller="#" asp-action="#" class=" container btn btn-primary btn-block">COMPRAR</a>
                        </div>


                    </div>
                </div>


            </div>
        }
    </div>

</div>